@font-face {
  font-family: "Bismillah";
  src: url(Bismillah\ Script.ttf);
  
}

.signature {
  font-family: "Bismillah", cursive;
  font-size: 22px;
  color: #b91c1c;
  text-align: right;
}


.title{
    background-color: rgb(182, 175, 166);
    padding: 16px;
    /* margin-left: 12px; */
     text-align: center;
}


.pertama {
    background-color: aquamarine;
    
  margin-bottom: 25px;
}

/* header, .h1{
    background-color: burlywood;
    margin-top: 25px;
} */

.sebelum-akhir{
  background-color: rgb(188, 249, 249);
  border-left: 6px solid rgb(16, 19, 211);
  font-size: 25px;
 

}
.akhir{
background-color: rgba(237, 203, 203, 0.64);
  border-left: 6px solid rgb(243, 6, 6);
  font-size: 20px;
 
}